* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
a {
  text-decoration: none;
  color: #5a5a5a;
}
img {
  cursor: pointer;
}
.flex-div {
  display: flex;
  align-items: center;
}
nav {
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-right img {
  width: 25px;
  margin-right: 25px;
}
.nav-right .user-icon {
  border-radius: 50%;
  width: 35px;
}
.nav-left .menu-icon {
  width: 22px;
  margin-right: 25px;
}
.nav-left .logo {
  width: 130px;
}
.nav-middle .mic-icon {
  width: 1rem;
}
.nav-middle .search-box {
  border: 1px solid #ccc;
  margin-right: 1rem;
  padding: 8px 12px;
  border-radius: 25px;
}
.nav-middle .search-box input {
  width: 400px;
  border: 0;
  outline: 0;
  background: transparent;
}
.nav-middle .search-box img {
  width: 1rem;
}


