* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
a {
  text-decoration: none;
  color: #5a5a5a;
}
img {
  cursor: pointer;
}
.flex-div {
  display: flex;
  align-items: center;
}
nav {
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-right img {
  width: 25px;
  margin-right: 25px;
}
.nav-right .user-icon {
  border-radius: 50%;
  width: 35px;
}
.nav-left .menu-icon {
  width: 22px;
  margin-right: 25px;
}
.nav-left .logo {
  width: 130px;
}
.nav-middle .mic-icon {
  width: 1rem;
}
.nav-middle .search-box {
  border: 1px solid #ccc;
  margin-right: 1rem;
  padding: 8px 12px;
  border-radius: 25px;
}
.nav-middle .search-box input {
  width: 400px;
  border: 0;
  outline: 0;
  background: transparent;
}
.nav-middle .search-box img {
  width: 1rem;
}

/* -------------Sidebar------------- */

.sidebar {
  background: white;
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding: 2%;
  padding-top: 80px;
}
.shortcut-links a img {
  width: 20px;
  margin-right: 20px;
}
.shortcut-links a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  flex-wrap: wrap;
}
.shortcut-links a:first-child {
  color: #ed3833;
}
.sidebar hr {
  border: 0;
  height: 1px;
  background: #ccc;
  width: 85%;
}
.subscribed-list h3 {
  font-size: 13px;
  margin: 20px 0;
  color: #5a5a5a;
}
.subscribed-list a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  flex-wrap: wrap;
}
.subscribed-list a img {
  width: 25px;
  border-radius: 50%;
  margin-right: 20px;
}
.small-sidebar {
  width: 5%;
}
.small-sidebar p {
  display: none;
}
.small-sidebar h3 {
  display: none;
}
.small-sidebar hr {
  width: 50%;
  margin-bottom: 25px;
}

/* ----------Main----------- */

.container {
  background: #f9f9f9;
  padding: 20px 2% 20px 17%;
}
.banner {
  width: 100%;
}
.banner img {
  width: 100%;
  border-radius: 8px;
}
